<% content_for :vite_entrypoint, "products" %>

<% products = @bootstrap_data&.dig(:products) || [] %>

<div id="react-root" data-bootstrap="<%= json_escape(@bootstrap_data.to_json) %>">
  <% if products.any? %>
    <ul>
      <% products.each do |product| %>
        <li>
          <strong><%= product[:title] %></strong>
          <span>(<%= product[:handle] %>)</span>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No products found.</p>
  <% end %>
</div>
